# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/modules.xml
/prettier.xml
/vcs.xml
/git_toolbox_prj.xml
/material_theme_project_new.xml
/codeStyles/codeStyleConfig.xml
/codeStyles/Project.xml
/.name
